:root {
  --white:#ffffff;
  --soft-blue:#8babd9;
  --grayish-blue:#2e415a;
  --dark-blue:#14243d;
  --very-dark-blue:#0c182b;
  --cyan:#00fff6;

  --outfit:'Outfit', sans-serif;

}
html {
  box-sizing: border-box;
  font-size:62.5%;
}
body {
  background-color: var(--very-dark-blue);
  font-family: var(--outfit);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}