.nft__card--coin {
  display: flex;
  justify-content: space-between;
}
.nft__card--coin-value {
  color: var(--cyan);
  font-size: 1.6rem; 
  display: flex;
}
.nft__card--coin-value::before{ 
  content: '';
  background: url(../img/icon-ethereum.svg) no-repeat center;
  display: inline-block;
  width: 11px;
  height: 20px;
  margin-right: 7px;
}
.nft__card--coin-countdown {
  color: var(--soft-blue);
  font-size: 1.6rem;
  display: flex;
}
.nft__card--coin-countdown::before{ 
  content: '';
  background: url(../img/icon-clock.svg) no-repeat center;
  display: inline-block;
  width: 15px;
  margin-right: 6px;
}