.nft__card--coin {
  display: flex;
  justify-content: space-between;
}
.nft__card--coin-value {
  color: var(--cyan);
  font-size: 1.6rem;
}
.nft__card--coin-countdown {
  color: var(--soft-blue);
  font-size: 1.6rem;
}